<div class="container section">
  <div class="row">
    <div class="intro-divider">
      <h1>What makes me tick</h1>
    </div>
  </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="section-heading"></div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="clearfix"></div>
                    <h2><i>The interplay between the technical and creative worlds gets me out of bed in the morning.</i></h2>
                    <h3><strong>I love writing</strong> because it encourages my deep thinking skills and challenges my ability to convey knowledge without friction. Working with subject matter experts always offers lessons in humility and the chance to curry knowledge to a broader audience. 
                    <h2><i>I believe that success arises from clear communication, focus and hard work.</i></h2>
                    <h3>In my work, I am often <strong>writing and editing technical documentation</strong>. Other times, I am interviewing engineers or coding and troubleshooting . In all of these roles, I aim to apply <strong>thoughtful communication</strong> to see all types of projects to successful outcomes.</h3>
                    <h3>As a <strong><span class="ruby">Rubyist</span></strong> familiar with JavaScript, <<span>HTML</span>\> and <i style="background-color: yellow">CSS</i>, I am currently learning <strong>Python</strong>. I enjoy building web apps and am always working to grow my development skills.</h3>
                    <h3>Alongside work, I love playing ping-pong, chess, and doing yoga.</h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive-profile" src="{{ site.url }}/img/jbh.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
