<div class="container section">
  <div class="row">
    <div class="intro-divider">
      <h1>What makes me tick</h1>
    </div>
  </div>
</div>
<div class="content-section-a">
    <div class="container">
        <h2 class="section-heading"></h2>
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                    <h3>The combination of the <i>technical</i> and <i>creative</i> worlds gets me out of bed in the morning.</h3>
                    <h3><strong>I love writing</strong> because it encourages my deep thinking skills and challenges my ability to convey knowledge without friction. Working with subject matter experts always offers lessons in humility and the chance to curry knowledge to a broader audience. 
                    <h3><strong>Success arises out of clear communication, focus and hard work.</strong> I have been involved in far more projects that face difficult human problems than unsurmountable technical problems. It is my observation that my <strong>communication skills</strong> have proven critical to driving many projects to success. </h3>
                    <h3>As a <strong><span class="ruby">Rubyist</span></strong> familiar with JavaScript, <<span>HTML</span>\> & <i style="background-color: yellow">CSS</i>, I am currently exploring <strong>Python</strong>. I enjoy building web apps and am always working to grow my development skills.</h3>
                    <h3>Alongside work, I do love me some chess, yoga and ping-pong</h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- <img class="img-responsive-profile" src="{{ site.url }}/img/jbh.gif" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>
