<div class="container section">
  <div class="row">
    <div class="intro-divider">
      <h1>A Bit More</h1>
    </div>
  </div>
</div>
<div class="content-section-a">
    <div class="container">
        <h2 class="section-heading"></h2>
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h3>At heart, Jess lives comfortably in both the <i>technical</i> and <i>creative</i> worlds--
                    an idea factory who loves <strong>algorithmic thinking, artistry & people.</strong></h3>
                    <h3>A proficient <strong><span class="ruby">Rubyist</span></strong> who uses <strong>Rails, JavaScript, HTML & CSS</strong>, Jess also enjoys Python, AngularJS, Backbone.js &#38; C.</h3>
                    <h3>As a <i>World Class Beginner&#8482;</i>, he can learn just about any language necessary, and Jess's <strong>communication skills</strong> have proven critical to driving many projects to success.</h3>
                    <h3>He's a <strong>deep thinker</strong> who tackles challenges with a smile. He loves <i>chess</i>, and <i>yoga</i>, but not at the same time.</h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive-profile" src="{{ site.url }}/img/jbh.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
