 <!-- Custom Letter introduction -->
  <div class="container section">
    <div class="row">
      <div class="intro-divider text-left">

        <h1>Hello, <strong>{{page.employer}}</strong>!</h1>
        <h2>   I'm Jess. I like to write and I think we should work together.</h2>
        <br>
      </div>
    </div>
  </div>

<!-- Custom letter columns -->
<div class="container">
<div class="row">
  <div class="col-lg-6 col-sm-6">
    <br>
    <h2>What about me?</h2>
       <p>As of August 2015 I have been documenting all things Cloud at Pivotal. </p>
       <br>
      <h2 class="text-justify">I am a tech writer.</h2>
        <p>For the last several years I have been happily writing technical documents, developing web content, and I got my technical chops at Dev Bootcamp. I have made web apps, manuals, movies, houses, furniture, commercials, and one screenplay. I've always been a craftsman of one sort or another.</p>
        <br>
       <h2>And, before that?</h2>
        <p>I was trained in the creative and technical craft of film making, but early on found myself building houses on the far away island of Nantucket.</p>
        <br>
        	<h2>Why? Because life is one big, amazing adventure.</h2>
        <p>After enough blustery winters to appreciate good weather, I traded my beard and hammer for a bag of hopes and a pen in Hollywood. When I met my future wife, we waved goodbye to LA and headed homeward-- back to the Bay Area for us both!</p>
        <br>
		<h2>What do I value?</h2>
        <p> I bring years of experience in the technical contribution to the communication, implementation and vision of products in technology. I value empathy, humor, clarity, transparency and teamwork, and I hope you do too! </p>
        <br>
    </div>
    <div class="col-lg-6 col-sm-6">
	<br>
      {% include memsql.html %}
    </div>
  </div>
</div>
