<h2>What about you?</h2>
<p>First off, your documentation looks good! You describe your product for a variety of users, with several approaches to consume the content. I am also interested in learning how you publish your documentation. The layout is straightforward with a quick overview and snappy response. But, I'm really interested in the challenges for the docs team!
</p>
<h2>Your database sounds great!</h2>
<p>I must admit that I want to know more about a two-tiered, distributed database with in-memory and on-disk storage. I've got some skill with SQL, but I'd be the first to admit that it looks like there is a ton to learn, like, the MemSQL databse, the Spark integration, the user base, and the command line tools.
</p>
<h2>How about the vibe?</h2>
<p>I'm currently at a larger company, Pivotal, while MemSQL is a real startup. I love knowing that I could contribute in a more meaningful way and make a greater impact. MemSQL gets good reviews from Glassdoor, so I imagine the culture is very positive, too!</p>
<h2>So?</h2>
<p>You're on the hunt for a good writer, and I'm interested in putting my name forward. I hope I've piqued your interest! If so, I look forward to hearing from you!</p>