<div class="container section">
  <div class="row">
    <div class="intro-divider">
      <h1>Projects</h1>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <div class="clearfix"></div>
        <h2 class="section-heading"><a href="https://github.com/jbheron/Retreatly" target="_blank">Retreatly</a></h2>
        <h4>Retreat.ly began as one of Jess's ideas for a Rails project at a Dev Bootcamp Hackathon.
        </h4>
        <h4>As a portal for yoga instructors to handle and manage their retreats with minimal technical skill, the feature set includes:</h4>
        <h4>• Account creation</h4> <h4>• User Authentication</h4> <h4>• CRUD operations</h4> <h4>• Image uploading</h4> <h4>• Reservation handling</h4> <h4>• Payment system</h4>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <a href="https://github.com/jbheron/Retreatly" target="_blank"><img class="img-responsive" src="{{site.url}}/img/retreatly.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <div class="clearfix"></div>
        <h2 class="section-heading"><a href="https://github.com/hamberguesa/soapbox" target="_blank">Soapbox</a></h2>
        <h4>Geo-specific, localized, multi-peer messaging web application.</h4>
        <h4>Final project at Dev Bootcamp, Jess was responsible for appropriately modeling the geocaching distance methods in Ruby, some more generalized product input, as well as CSS and Front-End design.</h4>
        <h4>Deployed at <a href="http://soap-box.herokuapp.com/" target="_blank">Heroku.</a> </h4>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <a href="https://github.com/hamberguesa/soapbox" target="_blank"><img class="img-responsive" src="{{site.url}}/img/soapbox.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <div class="clearfix"></div>
        <h2 class="section-heading"><a href="https://github.com/jbheron/candidly" target="_blank">Candid.ly</a></h2>
        <h4>Candid.ly is another brainchild of Jess Heron. Inspired by web apps Secret and Whisper, Candid.ly aims to build authentic friendships out of existing networks.</h4>
        <h4>The project is built with Ruby on a Sinatra platform.</h4>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <h2 class="section-heading"><a href="https://github.com/jbheron/candidly" target="_blank"><img class="img-responsive" src="{{site.url}}/img/candidly.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading"><a href="https://github.com/Gunga/Digi4" target="_blank">Digi4</a>
          </h2>
          <h4>AKA <strong>Digital Representation of Instatiated Competitive Placement of Consecutive Token Quadruplets</strong>. </h4>
          <h4>This is a fun Tron themed Connect Four JavaScript implementation done as a group project during Dev Bootcamp. </h4>
          <h4>Jess's work involved building the model and its various methods for board-state, turn-state & win-state in the group's MVC JavaScript app.</h4>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <a href="https://github.com/Gunga/Digi4" target="_blank"><img class="img-responsive" src="{{site.url}}/img/digi4Screenshot.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>