<div class="content-section-a content-section-blurb">
    <div class="container blurb">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">A JOURNEY OF BUILDING WITH PASSION</h2>
                <h2 class="section-heading">Writer • Maker • Thinker</h2>
                <h3> I was trained in the creative and technical craft of film making. Along the way I found myself attracted to shelter and became a carpenter working on the far away island of Nantucket. After many years I came back to writing.I have my entire life working a craftsman of one sort or another. For several years I have applied the same time honored approaches of craft to technical writing and content development. </h3>
                <h3> I have made web apps, houses, furniture, movies, videos, commercials, and one screenplay.
                </h3>
                <h3> Jess brings years of leadership competency creating products and meeting deadlines. His authentic personality, empathy, humor and intellect are an invaluable asset to any team. </h3>
                <h3>As of January 2015 he's actively looking for the right fit for a fulltime web developer position. He can be reached through any of the contact links at this site. </h3>
            </div>
        </div>
    </div>
</div>
