<div class="content-section-a content-section-blurb">
    <div class="container blurb">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">A JOURNEY OF BUILDING WITH PASSION</h2>
                <h2 class="section-heading">Writer • Thinker • Maker</h2>
                <h3></h3> 
                <h3>As of August 2015 I have been documenting all things Cloud at Pivotal. I can be reached through any of the contact links at this site. </h3>
                <h3>I was trained in the creative and technical craft of film making, but early on found myself building houses on the far away island of Nantucket. Why? Because life is a big, fat amazing ride.</h3>
                <h3>After enough blustery winters to appreciate good weather, I traded my beard and hammer for a bag of hopes and a pen in Hollywood. When I met my future wife, we waved goodbye to LA and headed homeward-- back to the Bay Area!</h3> 
                <h3>For the last several years I have been happily developing web content, writing technical documents and I got some technical chops at Dev Bootcamp. I've always been a craftsman of one sort or another. I have made web apps, manuals, movies, houses, furniture, commercials, and one screenplay.</h3>
                <h3> I bring years of experience in the technical contribution to the communication, implementation and vision of products in technology. I value empathy, humor, clarity, transparency and teamwork. </h3>
            </div>
        </div>
    </div>
</div>
