<div class="content-section-a content-section-blurb">
    <div class="container blurb">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">A JOURNEY OF BUILDING WITH PASSION</h2>
                <h2 class="section-heading">Maker • Builder • Thinker</h2>
                <h3> His entire working life, Jess Heron's always been a craftsman of one sort or another. Now, he's applying the same time honored approaches to a new career in the tech industry. </h3>
                <h3> These days, he creates mostly web apps, but he's also built houses, furniture, movies, videos, commercials, and he's written a screenplay.
                </h3>
                <h3> Jess brings years of leadership competency creating products and meeting deadlines. His authentic personality, empathy, humor and intellect are an invaluable asset to any team. </h3>
                <h3>As of January 2015 he's actively looking for the right fit for a fulltime web developer position. He can be reached through any of the contact links at this site. </h3>
            </div>
        </div>
    </div>
</div>
