<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include nav.html %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container section">
    <div class="row">
      <div class="intro-divider text-center">
        <br>

        <h1>Hi, <strong><span style="color: #FF8100;">{{page.employer}}</span></strong></h1>
        <h1>H1>>>> I'm Jess-- I like to build things and I think we should work togetherTHIS ONE FOR HEADING</h1>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <h1>H1>>> What about me?</h2>
          <h2 class="text-justify">H2>>>> I am a web developer. umami iPhone PBR 90's four dollar toast, lumbersexual plaid. Chillwave YOLO sartorial master </h2>
          <h3 >THIS ONE FOR BODYH3>>> Readymade gastropub fap, DIY beard locavore Marfa. 3 wolf moon Austin yr shabby chic. Roof party umami iPhone PBR 90's four dollar toast, lumbersexual plaid. Chillwave YOLO sartorial master cleanse, +1 mixtape biodiesel 90's fixie keffiyeh distillery cardigan </h3>
          <h4>H4>>> Etsy you probably haven't heard of them. Pickled single-origin coffee health goth, sriracha squid seitan cronut. Gastropub mustache meditation ethical, ennui kitsch +1. You probably haven't heard of them mlkshk pour-over fingerstache cray whatever Pinterest, asymmetrical tilde heirloom.</h4>
          <p>p>>>> seitan cronut. Gastropub mustache meditation ethical, ennui kitsch +1. You probably haven't heard of them seitan cronut. Gastropub mustache meditation ethical, ennui kitsch +1. You probably haven't heard of them</p>
          <h3>I'm not just a web developer.</h3>
        </div>
        <div class="col-lg-6 col-sm-6">
          <h2>What about you?</h2>
          <h3>{{page.description}}</h3>
        </div>
      </div>
    </div>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
  </html>