<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include nav.html %}
  <div class="container section">
    <div class="row">
      <div class="intro-divider text-center">

        <h1>Hi, <strong><span style="color: #FF8100;">{{page.employer}}</span></strong></h1>
        <h1>H1>>>> I'm Jess-- I like to build things and I think we should work togetherTHIS ONE FOR HEADING</h1>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

    {% include custom_letter.html %}

    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
  </html>


